.front-dashboard-trend__head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.front-dashboard-trend__title {
  margin: 0 !important;
}

.front-dashboard-trend__filter {
  width: 100%;
}
